body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dashboard-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content horizontally */
  }
  
  .dashboard-title {
    text-align: center;
    color: #333; /* Set the color you prefer */
    font-size: 28px; /* Set the font size you prefer */
    margin-bottom: 20px; /* Add some spacing below the title */
   
    padding: 10px; /* Add padding for a nice visual effect */
    border-radius: 4px;
  }
  
  .note-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    border: 1px solid #ccc; /* Add a gray border */
    border-radius: 4px; /* Add border radius for a nicer look */
    padding: 10px; /* Add some padding inside the border */
  }
  
  .note-list li {
    margin-bottom: 10px;
  }
  
  .note-title {
    font-weight: bold;
  }
  
  .note-container {

    padding: 10px;
    border-radius: 4px;
  }



  .logout button{
    background-color: red;
    color: white;
  }