<!DOCTYPE html>
<html>
<head>
  <title>Create a Note</title>
  <link rel="stylesheet" type="text/css" href="/css/create-note-style.css">
</head>
<body>
  <div class="note-form">
    <h2>Create a Note</h2>
    <form action="/note/create" method="post">
      <input type="text" placeholder="Title" name="note_title">
      <textarea id="noteContent" rows="5" placeholder="Write your note here..." name="note_body"></textarea>
        <input type="submit" id="saveBtn" value="Submit"></button>
    </form>

  </div>
</body>
</html>